.lpara{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
}
.commen{
    background-color: gray;
    width: 70%;
    padding-bottom: 10%;
}
.pcomment{
    margin: 12px;
    padding: 10px;
    background-color: white;
    color: black;
}
body{
    background-color: rgb(201, 173, 228);
}