

body, html {
    height: 100%;
    
  }
  
  
body {
    /* The image used */
    background-image: url("background.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-centre{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  #all-posts{
    color: black;
  }
  #create-post{
    color: black;
  }